<!DOCTYPE html>
<html>
<head>
  <title>BasicAuthenticate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<ul>
		<li><%= current_user.email %></li>
		<li><%= link_to 'Logout', logout_path, method: :delete %></li>
	</ul>
<% else %>
	<ul>
		<li><%= link_to 'Login', login_path %></li>
		<li><%= link_to 'Criar Conta', signup_path %></li>
	</ul>
<% end %>
<br />

<%= yield %>

</body>
</html>
